body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}
/* Cabeçalho */
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header {
    background-color: black;
    color: #fff;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    text-decoration: none;
}
/* Fim da cabeçalho */
/* Rodapé */
footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
/* Fim do rodapé */
/* Conteúdo */
h2{
    text-align: center;
}
h4{
    text-align: center;
}
.banner {
    width: 100%;
    max-width: 1000px; 
    margin: 0 auto; 
    display: block;
}
/* Fim do conteúdo */
.glow-on-hover a{
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 15px;
}
.glow-on-hover {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

h2{
    text-align: center;
}

.card {
    display: inline-block;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h2 {
    margin-top: 0;
  }
  
  .card-content p {
    margin-bottom: 0;
  }
.caixas{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}  
.espaço{
    width: 200px;
    height: 200px;
}